.custom{
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  .month{
    font-size: 15px;
    font-weight: bold;
  }
}

.money {
  font-size: 110%;
  font-weight: bold;
}

.areachart{
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 98%; 
  height: 40%; 
  margin: 20px 20px 0 0;
  padding: 20px 0 35px 20px; 
  background-color: white;
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
}

.container {
  display: flex;
  margin-top: 2.5rem; 
  gap: 2.5rem; 
  height: 50%; 
}

.donutChart {
  width: 60%; 
  background-color: #ffffff; 
  border-radius: 0.5rem;
  padding: 1.25rem; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
}

.columnChart {
  width: 35%; 
  background-color: #ffffff; 
  border-radius: 0.5rem; 
  padding: 1.25rem; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);

  .chartMoney{
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center;
  }
}

.chartTitle {
  font-size: 1.125rem; 
  font-weight: 500; 
  margin-bottom: 1rem; 
}


