$dark_yellow: #e99e09;
$light_yellow: #ffc248;
$light_pink: #fff5e2;
$brown: #494949;
$light_brown: #452f02;

:root {
  --light-pink: #fff5e2;
  --light-yellow: #ffc248;
}
nextjs-portal {
  display: none;
}

body {
  margin: 0;
  padding: 0;
}

.react-datepicker-wrapper {
  width: 100%;
}

.tao-bg {
  background-color: #f6f6f6;
}

.pink-bg {
  background-color: $light_pink;
}

.dark-yellow-text {
  color: $dark_yellow;
}

.light-yellow-text {
  color: $light_yellow;
}

.dark-yellow-bg {
  background-color: $dark_yellow;
}

.light-yellow-bg {
  background-color: $light_yellow;
}

.light-yellow-background {
  background-color: $light_yellow;
}

.brown-background {
  background-color: $light_brown;
  border-radius: 100%;
  padding: 10px;
}

.logo-weight {
  font-weight: 700;
}

.description-weight {
  font-weight: 500;
}

.button {
  background-color: $light_yellow;
  border-radius: 20px;
  color: white;
  padding: 10px 20px 10px 20px;
}

.auth-background {
  background-color: $light_yellow;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.avatar {
  height: 60px;
  width: 60px;
  border-radius: 100%;
}
