
.inputGroup {
  font-family: 'Segoe UI', sans-serif;
  margin: 1em 0;
  position: relative;
  width: 100%;

  .inputLo {
    font-size: 100%;
    padding: 0.5em;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    background-color: transparent;
    border-radius: 10px;
    width: 100%;
  }

  .text {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.5em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
  }

  .inputLo:focus~.text,
  .inputLo:valid~.text {
    transform: translateY(-50%) scale(.9);
    margin: 0;
    margin-left: 1.3em;
    padding: 0.2em;
    background-color: var(--light-pink);
  }

  .togglePassword {
    position: absolute;
    background: none;
    border: none;
    color: #000000;
    margin-left: -35px;
    margin-top: 14px;
  }
}

.coolinput {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: static;

  .text {
    font-size: 0.75rem;
    color: #000000;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: var(--light-pink);
    width: fit-content;
  }

  .inputMobal {
    padding: 11px 10px;
    font-size: 0.75rem;
    border: 1px #000000 solid;
    border-radius: 10px;
    background: var(--light-pink);
  }

  .inputMobal:focus {
    outline: none;
  }

  .colorOptions {
    display: flex;
    overflow-y: auto;
    max-height: 130px;
    width: 100%;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 1px #000000 solid;
    padding: 10px;
    justify-content: flex-start;
    /* Align items to the left */
    gap: 10px;

    .colorItem {
      display: flex;
      width: calc(100% / 5 - 10px);
      height: 30px;
      align-items: center;
      justify-content: center;
      border: 1px solid #ddd;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #f0f0f0;
      }

      &.selected {
        background-color: #e0e0e0;
        /* Màu nền khi được chọn */
        border-color: #007bff;
        /* Thay đổi màu viền khi được chọn */
      }

      .icon {
        font-size: 24px;
      }
    }
  }

  .selectedText {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
  }

}

.headtbl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1.5px solid #7b7b7b62;

  .titletbl {

    .titleTbl {
      font-size: 17px;
      font-weight: bold;
    }

    .titleTbl1 {
      font-size: 10px;
      color: #737373;
    }
  }

  .search {
    // relative w-1/3
    position: relative;
    width: 30%;
    margin-right: 2%;

    .searchTbl {
      width: 107%;
      padding: 10px 30px 10px 20px;
      border-radius: 10px;
    }

    .iconOverlay {
      color: #64646484;
      position: absolute;
      top: 0;
      bottom: 0;
      right: -5%;
      display: flex;
      align-items: center;
      padding-right: 0.75rem;
      pointer-events: none;
    }
  }
}

.headMobal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 30px;
  padding-bottom: 20px;

  .titleMobal {
    font-size: 20px;
    font-weight: bold;
  }
}

.modalFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;

  .btnMobal {
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    background-color: #ffc248;
  }
}

.btnTble {
  display: flex;
  padding-left: 5%;
  gap: 10px;

  .deleteBtn {
    background-color: red;
    padding: 4px 15px 4px 15px;
    border-radius: 10px;
    color: #fff;
  }

  .editBtn {
    background-color: #FFC248;
    padding: 4px 15px 4px 15px;
    border-radius: 10px;
    color: #fff;
  }
}

.modalOverplay {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);

  .headDeleMobal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

    .titleDele {
      align-items: center;

      .titleDeleMobal {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }

  .btnDeleMobal {
    display: flex;
    align-items: center;
    padding-left: 15px;
    gap: 20px;

    .btnCan {
      background-color: red;
      padding: 5px 60px;
      border-radius: 10px;
      color: #fff;
    }

    .btnOk {
      background-color: #2bdf79;
      padding: 5px 60px;
      border-radius: 10px;
      color: #fff;
    }
  }
}

.money {
  font-size: 110%;
  font-weight: bold;
}

.tableContainer {
  display: block;
  max-height: 72%;
  overflow-y: auto;
}

.bodyTbl {
  border-style: none;
}

// .bodyTbl tr:hover {
//   background-color: #fd3b003a; 
//   border-radius: 10px;
// }

.nameIcon {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.bgrIcon {
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconTable {
  color: #fff;
}

.category {
  background-color: #fff;
  margin: 10px 0 10px 0;
  padding: 20px;
  border-radius: 15px;

  .headCate {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid #d7d7d7;

    .txthead {
      font-size: 20px;
      font-weight: bold;
    }

    .btnhead {
      background-color: #ffc248;
      padding: 5px 10px;
      color: #fff;
      border-radius: 50%;
    }
  }

  .contentCate {
    padding: 20px 0 10px 0;
    display: flex;
    width: 100%;
    overflow-x: scroll;
    gap: 10px;
    flex-wrap: nowrap;

    .iconBack {
      flex-shrink: 0;
      background-color: #f4f4f4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100px;
      aspect-ratio: 1 / 1;
      border-radius: 15px;
      gap: 10px;

      .icon {
        padding: 10px 12px;
        border-radius: 50%;
        color: #fff;
      }

      .txtIcon {
        font-size: 13px;
      }
    }
  }
}